@media (min-width: 0px) and (max-width: 1200px) {

  .display-lmobile-36- {
    font-family: $unnamed-font-family-source-serif-pro;
    font-style: $unnamed-font-style-normal;
    font-weight: $unnamed-font-weight-600;
    font-size: $unnamed-font-size-36;
    line-height: $unnamed-line-spacing-45;
    letter-spacing: $unnamed-character-spacing-0;
    color: $unnamed-color-172026;
  }

  /* ==============================Header 2===================================*/

  header {
    .nav-links {
      position: absolute;
      top: 8vh;
      height: 92vh;
      width: 100vw;
      left: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      z-index: 3;
      transform: translateY(-140%);
      transition: transform 0.5s ease-in;
      padding: 0;
    }

    li {
      padding: 0.75em;

    }

    .logo {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
    }

    .hideLogo {
      display: none;
    }

    #inputSearch {

      width: 100%;

      z-index: 5;
    }

    .mobileHide {
      display: none;
    }

    .desktopHide {
      display: block;
    }



    .burger {
      display: block;
      margin-right: auto;
      cursor: pointer;
    }

    .nav-active {
      transform: translateY(0%);
    }

    .bottomLinks {
      position: absolute;
      bottom: 2%;
      @include flexJust;

      a {
        padding: 0 1em;
      }

      img {
        padding: 0 0 1.5em 1em;
      }
    }
  }


  /* ==============================Hero Banner===================================*/
  .heroBanner {

    position: relative;
    flex-direction: column-reverse;

    .heroInnerBanner {
      padding: 1em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);

      margin: auto;

      width: 75%;

      h2 {
        @extend .display-lmobile-36-;
        color: $white;

        padding: 0 0 1em 0;
      }
    }

    img {
      padding: 1em 1em 0em 1em;
      margin-bottom: 5em;
    }
  }

  /*============================Product List============================*/

  .produFilters {
    display: block;
    padding: 2em 0 1em 0;
    @include flexJust;
    justify-content: space-around;

    div {

      @include flexAlign;

      img {
        padding: 0 0.5em;
      }
    }
  }


  * {
    .ui.cards>.card>.image {
      /* height: 250px; */
      height: 5rem;
      padding: 0;

    }

    .ui.cards>.card>.image>img {

      width: 90%;
    }
  }


  /*============================SideBar============================*/

  .sideBar {
    margin-top: 1em;


    .crossHide {
      display: block;
    }


  }

  .sideBarToggle {
    display: none;
    transition: transform 0.8s ease-in;
    transform: translateX(-140%);

  }

  .sideBar-active {
    transform: translateX(0%);
    display: block;
  }

  /*============================Shopping Cart ============================*/

  .sharingOption {
    display: none;
  }

  .cartBtn {
    text-align: right;
    margin-left: auto;
    @include flexAlignJust;
  }

  .sharingOuter {
    @include flexAlignJust;
  }

  .leftSideCart {
    display: flex;
    flex-direction: column;
  }

  /*============================Product Details============================*/

  .imgCarousal {
    display: none;
  }

  /* ==============================Footer===================================*/
  .lowerFooter {
    flex-direction: column;
  }
}